.button {
  padding: 10px;
  border: 1px solid rgb(222, 222, 222);
  text-transform: uppercase;
  transition: 0.1s;

  &:hover {
    background-color: #1e2022;
    color: rgb(222, 222, 222);
    border: 1px solid #1e2022;
  }
}
