.root {
  width: 100%;
  margin: 0 auto;
  h2 {
    padding: 2rem 4rem;
  }

  .orderForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    .required {
      font-size: 1.4rem;
    }

    .shipmentInfo {
      border-right: 1px solid rgb(220, 220, 220);

      .requiredInformation {
        padding: 0 5rem;
        font-size: 1.4rem;
      }
    }

    div {
      width: 50%;
    }

    h3 {
      text-align: center;
      padding: 1rem;
      font-size: 2rem;
      font-weight: 600;
      width: 100%;
      margin-bottom: 0.5rem;
    }

    fieldset {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      border: none;
      padding: 0 5rem;

      input {
        width: 48%;
        padding: 0.5rem 1.5rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        border: 1px solid black;

        &:focus {
          outline: none;
        }
      }

      .errorInput::placeholder {
        color: rgba(255, 0, 0, 0.8);
        font-size: 1.2rem;
      }

      label {
        padding-left: 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        width: 50%;
        margin-bottom: 0.5rem;
      }

      .threeInRowContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        label {
          width: 32%;
        }

        input {
          width: 32%;
        }
      }
    }

    .methods {
      div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        height: 50%;
        margin: 0 auto;

        &:first-child {
          border-bottom: 1px solid rgb(220, 220, 220);
        }
      }
      .shippingMethod,
      .paymentMethod {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .methodsContainer {
          display: flex;
          flex-direction: row;
        }

        .methodError {
          position: absolute;
          bottom: 1rem;
          font-size: 1.2rem;
          padding: 1rem;
          align-items: center;
          color: rgba(255, 0, 0, 0.8);
        }
        input {
          display: flex;
          width: 10%;
          height: 2rem;
        }
        label {
          width: 90%;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }

  .orderSummary {
    padding: 3rem 5rem;

    h3 {
      text-align: center;
      font-size: 2rem;
      padding: 2rem;
    }
    .orderedProducts {
      display: flex;
      flex-direction: column;

      .descriptions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgb(220, 220, 220);

        p {
          width: 15%;
          padding: 1rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: rgb(148, 148, 148);

          &:first-child {
            width: 70%;
          }

          &:nth-child(2),
          &:nth-child(3) {
            text-align: center;
          }
        }
      }

      .singleProduct {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(238, 238, 238);

        h4 {
          width: 70%;
          font-size: 1.4rem;
          padding: 1rem;
          font-weight: 500;
        }
        span {
          width: 15%;
          font-size: 1.4rem;
          text-align: center;
          padding: 1rem;
        }
      }
    }
  }

  .control {
    text-align: center;
    width: 100%;
    padding: 2rem 5rem;

    button {
      width: 100%;
      padding: 1rem 2rem 1rem 4rem;
      border: none;
      background-color: #1e2022;
      color: #f0f5f9;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .orderStatus {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(255, 0, 0, 0.8);
  }
}
