@import "../../../styles/global.scss";
@import "../../../styles/settings.scss";
@import "../../../animations/skaterAnimation.scss";

.root {
  flex: 1 0 auto;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .navigation {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #1e2022;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);

    .navContainer {
      .topBarContainer {
        background-color: #26292c;
        width: 100%;

        .topBarContent {
          display: flex;
          justify-content: space-between;
          padding: 0.8rem 2rem;
          margin: 0 auto;
          width: 100%;
          max-width: 1720px;

          div {
            a {
              color: #f0f5f9;
              font-size: 1.2rem;
              margin-right: 0.5rem;
              text-transform: uppercase;
              text-decoration: none;
              border-bottom: 0.1rem solid #f0f5f9;
            }
          }
        }
      }

      .navContent {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 2rem 2.5rem 2rem;
        max-width: 1720px;

        a {
          text-decoration: none;

          .logo {
            font-size: 2.8rem;
            color: #f0f5f9;
            font-weight: bold;
          }
        }
        .routes {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              list-style: none;
              padding-left: 2rem;
              a {
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color: #f0f5f9;
                text-decoration: none;
                font-size: 1.5rem;

                .Icon {
                  font-size: 2.5rem;
                  padding: 0.5rem;
                }

                .cartValue {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: -0.5rem;
                  right: -0.5rem;
                  height: 2.2rem;
                  width: 2.2rem;
                  border-radius: 50%;
                  background-color: black;
                  font-size: 1.2rem;
                }

                &::after {
                  content: "";
                  position: absolute;
                  bottom: -0.3rem;
                  left: 50%;
                  transform: translateX(-50%);
                  height: 0;
                  width: 80%;
                  background-color: #f0f5f9;
                  transition: 0.1s;
                }

                &:hover::after {
                  height: 0.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    position: relative;
    flex-shrink: 0;
    height: $footerHeigth;
    width: 100%;
    background-color: #1e2022;

    p {
      text-align: center;
      font-size: 1.5rem;
      padding: 1.5rem;
      color: #f0f5f9;
    }

    .left {
      position: absolute;
      height: 10rem;
      width: 8rem;
      background-color: #1e2022;
      top: -5rem;
      left: 0;

      &::after {
        content: "";
        position: absolute;
        right: -5rem;
        top: -5rem;
        width: 10rem;
        height: 10rem;
        background-color: white;
        border-radius: 50%;
      }
    }

    .right {
      position: absolute;
      height: 10rem;
      width: 8rem;
      background-color: #1e2022;
      top: -5rem;
      right: 0;

      &::after {
        content: "";
        position: absolute;
        left: -5rem;
        top: -5rem;
        width: 10rem;
        height: 10rem;
        background-color: white;
        border-radius: 50%;
      }
    }

    .skater {
      position: absolute;
      top: -$footerHeigth;
      left: 10%;
      height: 5rem;
      width: 5rem;
      background-image: url("../../../../public/images/skater.png");
      background-size: cover;

      @media (max-width: 2560px) {
        animation: skater-move-1920px 12s forwards linear infinite;
      }
      @media (max-width: 1680px) {
        animation: skater-move-1680px 9s forwards linear infinite;
      }
      @media (max-width: 1024px) {
        animation: skater-move-1024px 6s forwards linear infinite;
      }
      @media (max-width: 600px) {
        animation: skater-move-600px 4s forwards linear infinite;
      }
    }
  }
}

@media (max-width: 600px) {
  .root {
    .navigation {
      .navContainer {
        .topBarContainer {
          display: none;
        }
      }
    }
  }
}
