@import "../../../styles/global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

section {
  margin: 0 auto 100px;
}

.root {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .navigation {
    width: 100%;
    background-color: #1e2022;

    .navContainer {
      .topBarContainer {
        background-color: #26292c;
        width: 100%;

        .topBarContent {
          display: flex;
          justify-content: space-between;
          padding: 8px 20px;
          margin: 0 auto;
          width: 100%;
          max-width: 1720px;

          div {
            a {
              color: #f0f5f9;
              font-size: 1.2rem;
              margin-right: 5px;
              text-transform: uppercase;
              text-decoration: none;
              border-bottom: 1px solid #f0f5f9;
            }
          }
        }
      }

      .navContent {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 25px;
        max-width: 1720px;

        a {
          text-decoration: none;

          .logo {
            font-size: 28px;
            color: #f0f5f9;
            font-weight: bold;
          }
        }
        .routes {
          ul {
            li {
              list-style: none;
              a {
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color: #f0f5f9;
                text-decoration: none;

                .cartIcon {
                  font-size: 2.5rem;
                  padding: 5px;
                }

                .cartValue {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: -0.5rem;
                  right: -0.5rem;
                  height: 2.2rem;
                  width: 2.2rem;
                  border-radius: 50%;
                  background-color: black;
                  font-size: 1.2rem;
                }

                // &::after {
                //   content: "";
                //   position: absolute;
                //   top: -0.5rem;
                //   right: -0.5rem;
                //   height: 2rem;
                //   width: 2rem;
                //   border-radius: 50%;
                //   background-color: black;
                // }
              }
            }
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: #1e2022;
    // box-shadow: 25px 25px 25px 25px #1e2022;
    p {
      text-align: center;
      font-size: 1.5rem;
      padding: 15px;
      color: #f0f5f9;
    }
  }
}
