@import "../../../styles/settings.scss";

.root {
  width: 100%;
  padding-top: $navHeight;
  max-width: 1500px;
  margin: 0 auto;

  .header {
    position: relative;
    text-align: center;
    margin: 2.5rem 0;
    height: 55rem;
    background-color: #c9d6df;
    overflow: hidden;
    background-image: url("../../../../public/images/headerImage.jpg");
    background-size: cover;

    .banner {
      padding: 5rem;
      position: relative;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);

      .bannerText {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        margin: 0 auto;
        font-size: 5rem;
        color: white;

        span {
          font-style: italic;
          font-weight: lighter;
          font-size: 4rem;
        }

        &::after {
          content: "";
          position: absolute;
          height: 0.2rem;
          width: 90%;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
          background-color: #000;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      height: 4rem;
      width: 30rem;
      bottom: 2rem;
      left: -7rem;
      transform: rotate(30deg);
      background-color: #000;
    }
    &::before {
      content: "";
      position: absolute;
      height: 4rem;
      width: 30rem;
      bottom: 2rem;
      right: -7rem;
      transform: rotate(-30deg);
      background-color: #000;
    }

    @media (max-width: 1500px) {
      margin: 2.5rem;
    }

    @media (max-width: 1000px) {
      margin: 0rem;
    }

    @media (max-width: 600px) {
      background-repeat: repeat;
      background-position: -10rem;
    }

    @media (max-width: 420px) {
      background-repeat: repeat;
      background-position: -20rem;
    }
  }

  .aboutUs {
    width: 100%;
    .panels {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      padding: 1rem;

      .panel {
        min-width: 28%;
        min-height: 12rem;
        padding: 1rem;
        background-color: #c9d6df;
        border-radius: 1rem;
        box-shadow: 8px 8px 8px rgb(181, 181, 181);
        width: 200px;
        transition: 0.2s;

        h4 {
          text-align: center;
          padding: 1rem;
          font-size: 2rem;
        }

        p {
          text-align: center;
          font-size: 1.5rem;
        }
      }
    }
    h3 {
      position: relative;
      margin: 5rem auto;
      width: fit-content;
      font-weight: 500;
      font-size: 3rem;

      &::after {
        content: "";
        position: absolute;
        height: 0.2rem;
        width: 90%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;
      }
    }
  }

  .splineSkate {
    width: 40rem;
    height: 40rem;

    iframe {
      border-radius: 50%;
    }
  }

  @media (max-width: 600px) {
    padding-top: $navHeightWithoutTopBar;
  }
}

@media (max-width: 1024px) {
  .root {
    padding-top: $navHeightBelow1024px;
    .aboutUs {
      .panels {
        .panel {
          width: 31%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .aboutUs {
      .panels {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .panel {
          display: flex;
          flex-direction: column;
          width: 80%;
          min-height: 15rem;
          margin-bottom: 2rem;
          justify-content: center;
          align-items: center;

          h4 {
            padding-bottom: 3rem;
          }
        }
      }
    }
  }
}
